*{margin: 0; padding: 0;}

.menu {
    height: 50px;
    line-height: 50px;
    background: #ad1c22;
    transition: 0.4s;
}
.menuBlack {
     background-color: black;
     position: fixed;
     z-index: 2;
     top: 0;
     left: 0;
     width: 100%;
}

a {
    color:  white;
    padding: 0 30px;
 
 
}

 .banner {
     height: 100px;
     background: url(143.jpg) no-repeat center;
     background-size: cover;
 }
 .khoivang {
     position: fixed;
     top: 0;
 }

/* loading page */
.s3 {
    opacity: 0;
}
.fly-up {
    animation: cdlen 1s forwards;
}
@-webkit-keyframes cdlen {
    from {transform:translateX(100px); opacity: 0;}
    to {transform: translateX(0px); opacity: 1;}
}