*{margin: 0; padding: 0;} 
.chieuso1 {
     animation:chieu1 3s forwards;
}
@-webkit-keyframes chieu1 {
     0% {transform: translate(0px) translateY(0px);}
     25% {transform: translate(200px) translateY(2000px);}
     50% {transform: translate(200px) translateY(200px);}
     100% {transform: translate(200px) translateY(500px);}
}

.returnway {
     animation: chieu2 3s forwards;
}

@-webkit-keyframes chieu2 {
     100% {transform: translate(0px) translateY(0px);}
     50% {transform: translate(200px) translateY(2000px);}
     25% {transform: translate(200px) translateY(200px);}
     0% {transform: translate(200px) translateY(500px);}
}